POST=3000
WS_PORT=3001

# Format: postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>
DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres

# Bcrypt
SALT_ROUNDS=10

# JWT
JWT_SECRET=''
JWT_EXPIRY=''
JWT_ALGORITHM=''

# AMQP
AMQP_URL=amqps://<rest of URL>